/* 共用的css */
*{
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
   
}

#forgetpassword{
	margin-top: 60px;
}




.p1{
    color: rgba(255,255,255,0.8);
    font-size: 24px;
    font-family: "neo"; 
     text-align: center;
}

.p2{
    color: rgba(255,255,255,0.8);
    font-size: 18px;
    font-family: "neo"; 
    text-align: left;
}

@font-face {
    font-family: 'neo';
    src: url("font/NEOTERICc.ttf");
}
input:focus{
	outline: none;
}
.form input{
	width: 300px;
	height: 30px;
	font-size: 18px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-bottom: 20px;
}
.form input::placeholder{
    color: rgba(255,255,255,0.8);
    font-size: 18px;
    font-family: "neo";
}

/*绘图*/
#img{
    width: 50%;
    min-height: 500px;
    background: linear-gradient(45deg, #221334, #6c3049);
    float: left;
    position: relative;
}
#img span{
    position: absolute;
    display: block;
}
#img .circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(45deg, #df5555, #ef907a);
    top: 70px;
    left: 50%;
    margin-left: -100px;
    overflow: hidden;
}
#img .circle span{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
}
#img .circle span:nth-child(1){
    top: 30px;
    left: -38px;
    background: #c55c59;
}
#img .circle span:nth-child(2){
    bottom: 20px;
    right: -35px;
    background: #934555;
}
#img .star span{
    background: radial-gradient(#fff 10%,#fff 20%,rgba(72, 34, 64, 0));
    border-radius: 50%;
    box-shadow: 0 0 7px #fff;
}
#img .star span:nth-child(1){
    width: 15px;
    height: 15px;
    top: 50px;
    left: 30px;
}
#img .star span:nth-child(2){
    width: 10px;
    height: 10px;
    left: 360px;
    top: 80px;
}
#login_img .star span:nth-child(3){
    width: 5px;
    height: 5px;
    top: 400px;
    left: 80px;
}
#img .star span:nth-child(4){
    width: 8px;
    height: 8px;
    top: 240px;
    left: 60px;
}
#img .star span:nth-child(5){
    width: 4px;
    height: 4px;
    top: 20px;
    left: 200px;
}
#img .star span:nth-child(6){
    width: 4px;
    height: 4px;
    top: 460px;
    left: 410px;
}
#login_img .star span:nth-child(7){
    width: 6px;
    height: 6px;
    top: 250px;
    left: 350px;
}
#img .fly_star span{
    width: 90px;
    height: 3px;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.67), rgba(255,255,255,0));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.67), rgba(255,255,255,0));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.67), rgba(255,255,255,0));
    transform: rotate(-45deg);
}
#img .fly_star span:nth-child(1){
    top:60px;
    left: 80px;
}
#img .fly_star span:nth-child(2){
    top: 210px;
    left: 332px;
    opacity: 0.6;
}
#img p{
    text-align: center;
    color: #af4b55;
    font-weight: 600;
    margin-top: 365px;
    font-size: 25px;
}
#img p i{
    font-style: normal;
    margin-right: 45px;
}
#img p i:nth-last-child(1){
    margin-right: 0;
}


/* changepassword */
/* 修改 */
.confirm{
    height: 0;
}

/* 修改 */
.btn2{
	width:140px;
	height: 40px;
	border: 1px solid #fff;
    background: none;
	font-size:20px;
	color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-family: "neo";
    
    /* 修改 */
    position: relative;
    top: 35px;

    /* transition: .25s; */
}
.btn2:hover{
    background: rgba(255,255,255,.25);
}
#login_wrap{
    width: 980px;
    min-height: 500px;
    border-radius: 10px;
    font-family: "neo";
    overflow: hidden;
    box-shadow: 0px 0px 120px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 50%;
    right: 50%;
    margin-top: -250px;
    margin-right: -490px;
}
#changeyourpassword{
    width: 50%;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(45deg, #9a444e, #e06267);
    position: relative;
    float: right;
}
#changeyourpassword #status{

    /* 修改 */
    width: 300px;
    height: 35px;
    margin: 40px auto;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

#changeyourpassword #status i{
    font-style: normal;
    position: absolute;
    /* transition: .5s */
    /* width: 1000px; */
}

#changeyourpassword span{
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 52%;
    margin-top: -140px;
}
#changeyourpassword span a{
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 80px;
    font-size: 18px;
}
#bg{
    background: linear-gradient(45deg, #211136, #bf5853);
    height: 100%;
}

