/* =========================================================
Common styles
============================================================ */

body {
    color: #525252;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #fff;
}

pre,
code {
    font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

ol {
    list-style: decimal outside none;
}

ul {
    list-style: disc outside none;
}


/* =========================================================
Heading
============================================================ */

h3 {
    color: #333333;
    font: 400 20px/22px 'bebas_neueregular', Arial, sans-serif;
    letter-spacing: 0;
    margin-bottom: 3px;
}

p {
    margin-bottom: 10px;
    line-height: 18px;
}


/* =========================================================
Clear Floated Elements
============================================================ */

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.hover-effect {
    cursor: pointer;
    z-index: 100;
}


/* =========================================================
	Columns
============================================================ */

.wrapper {
    width: 1100px;
    margin: 0 auto;
}


/*-- Header bottom ------------------------------------------------*/

#header-bottom {
    padding-bottom: 1px;
    padding-top: 1px;
    background: #272625;
    height: 50px;
}


/*-- Secondary Menu ------------------------------------------------*/

#navigation {
    position: relative;
    z-index: 400;
    border-top: 1px solid #272625;
    border-bottom: 1px solid #272625;
    margin-top: 1px;
    margin-bottom: 1px;
}

#secondary-menu {
    position: relative;
    z-index: 500;
}

#main-nav {
    position: relative;
    z-index: 400;
}

#main-nav>li {
    float: left;
    position: relative;
    margin-right: 15px;
}

#main-nav>li>a {
    color: #333333;
    display: block;
    font-family: 'bebas_neueregular', Arial, sans-serif;
    font-size: 18px;
    padding: 13px 10px 13px 0;
    text-transform: uppercase;
    background: url(images/background/menu-a-bg.png) no-repeat right center;
}

#main-nav>li:last-child a {
    background: none;
}

#main-nav>li.current-menu-item>a,
#main-nav>li a:hover {
    color: #b90000;
}

#main-nav li ul {
    border-left: 1px solid #CFCFCF;
    border-right: 1px solid #CFCFCF;
    border-top: 1px solid #CFCFCF;
    display: none;
    left: -15px;
    position: absolute;
    top: 37px;
    width: 200px;
    z-index: 10;
    background: #fff;
}

#main-nav li ul li {
    border-bottom: 1px solid #cfcfcf;
    position: relative;
}

#main-nav li ul li a {
    padding: 11px 15px;
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    font-family: 'bebas_neueregular', Arial, sans-serif;
    background: url(images/background/menu-sep.jpg) no-repeat right top transparent;
    display: inline-block;
    width: 170px;
}


/*** Responsive menu ***/

#responsive-menu {
    cursor: pointer;
    font: 400 14px/20px 'bebas_neueregular', Arial, sans-serif;
    padding: 5px;
    display: none;
    margin: 10px 0;
}


/* =========================================================
	Main Content
============================================================ */

.entry-meta,
.entry-category,
.entry-date,
.entry-author {
    color: #000000;
    font-size: 11px;
}

.entry-item {
    padding: 20px;
    border-bottom: 1px solid #cfcfcf;
}

.entry-item img {
    float: left;
    margin-right: 20px;
}

.entry-item .entry-title {
    margin-top: 5px;
    margin-bottom: 10px;
}

.entry-item .entry-title a {
    color: #000;
}

.primary .entry-item .video-thumb {
    position: relative;
    float: left;
    margin-right: 20px;
}


/*======Pagination=========*/

.pagination {
    padding: 20px;
}

.pagination li {
    float: left;
    margin-right: 5px;
    padding: 5px 10px;
}

.pagination li a {
    color: #000000;
    font: 400 15px/20px 'bebas_neueregular', Arial, sans-serif;
}

.pagination li.current a,
.pagination li:hover a {
    color: #b90000;
    text-decoration: underline;
}


/* =========================================================
	sub page
============================================================ */

.sub-nosidebar #header-bottom,
.sub-1sidebar #header-bottom {
    background: transparent;
    height: 27px;
    padding-bottom: 1px;
    padding-top: 1px;
}


/*-- Search ------------------------------------------------*/


.sub-search-box {
    width: 285px;
    float: left;
    position: relative;
    z-index: 1;
}

.sub-search-box .search-text {
    border: 1px solid #cdcdcd;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 2px;
    padding: 3px 5px 4px;
    position: absolute;
    right: 32px;
    width: 85%;
}

.sub-search-box .search-submit {
    background: url("images/icons/search-icon.png") no-repeat scroll 8px 5px #403E3E;
    border: medium none;
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 0;
    top: 2px;
    width: 30px;
    z-index: 100;
}

#submit-comment:hover {
    background: #b90000;
}